virtualenv
venv
*/venv
**/*.pyc
*.cache
webpack-stats.*
.vscode
*.sqlite3
**/__pycache__
**/.DS_Store
**/db_data
**/.ipynb_checkpoints
**/local_env.sh
**/media
*/cypress/screenshots
*/cypress/videos
**/__snapshots__/*
**/__image_snapshots__/*
**/*.log