
x-service: &service
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "10m"

x-base-producer-env: &base-producer-environment
  LSST_DDS_PARTITION_PREFIX: ${LSST_DDS_PARTITION_PREFIX}
  WEBSOCKET_HOST: ${LOVE_PRODUCER_WEBSOCKET_HOST}
  PROCESS_CONNECTION_PASS: ${PROCESS_CONNECTION_PASS}
  LOVE_CSC_PRODUCER: Test.1

x-base-producer: &base-producer
  build:
    context: ${DOCKERFILE_PATH_PRODUCER}
    dockerfile: docker/Dockerfile-dev
    args:
      dev_cycle: "${dev_cycle}"
  image: love-producer-image-mount
  environment:
    <<: *base-producer-environment
  network_mode: ${NETWORK_NAME}
  restart: always
  volumes:
    - ${DOCKERFILE_PATH_PRODUCER}:/usr/src/love
    - ./config:/usr/src/love/producer/config/
  logging:
    driver: "json-file"
    options:
      max-file: "5"
      max-size: "10m"
  depends_on:
    - nginx

version: "3.7"

services:
  # -------------- LOVE PRODUCERS --------------
  LOVE:
    <<: *base-producer
    container_name: producer-love-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: LOVE:0
  ATDome:
    <<: *base-producer
    container_name: producer-atdome-image-mount
    depends_on:
      - atcs-sim
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: ATDome:0
  ATMCS:
    <<: *base-producer
    container_name: producer-atmcs-image-mount
    depends_on:
      - atcs-sim
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: ATMCS:0
  ATAOS:
    <<: *base-producer
    container_name: producer-ataos-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: ATAOS:0
  ATSpectrograph:
    <<: *base-producer
    container_name: producer-atspectrograph-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: ATSpectrograph:0
  ATCamera:
    <<: *base-producer
    container_name: producer-atcamera-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: ATCamera:0
  MTM1M3:
    <<: *base-producer
    container_name: producer-mtm1m3-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: MTM1M3:0
  MTMount:
    <<: *base-producer
    container_name: producer-mtmount-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: MTMount:0
  MTRotator:
    <<: *base-producer
    container_name: producer-mtrotator-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: MTRotator:0 
  Watcher:
    <<: *base-producer
    container_name: producer-watcher-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: Watcher:0
  ScriptQueue:
    <<: *base-producer
    container_name: producer-scriptqueue-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: ScriptQueue:1
  WeatherStation1:
    <<: *base-producer
    container_name: producer-weatherstation1-image-mount
    environment:
      <<: *base-producer-environment
      LOVE_CSC_PRODUCER: WeatherStation:1

  # -------------- simulators --------------
  atcs-sim:
    build:
      context: ${DOCKERFILE_PATH_SIMULATOR}
      dockerfile: docker/Dockerfile-atcs
      args:
        dev_cycle: "${dev_cycle}"
    container_name: atcs-sim-build
    entrypoint: ["/home/saluser/atcs-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  mtcs-sim:
    build:
      context: ${DOCKERFILE_PATH_SIMULATOR}
      dockerfile: docker/Dockerfile-mtcs
      args:
        dev_cycle: "${dev_cycle}"
    container_name: mtcs-sim-build
    entrypoint: ["/home/saluser/mtcs-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  scriptqueue-sim:
    build:
      context: ${DOCKERFILE_PATH_SIMULATOR}
      dockerfile: docker/Dockerfile-scriptqueue
      args:
        dev_cycle: "${dev_cycle}"
    container_name: scriptqueue-sim-build
    environment:
      - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./config:/home/saluser/config/
      - ${TS_STANDARDSCRIPTS}:/home/saluser/repos/ts_scriptqueue/tests/data/standard/
      - ${TS_EXTERNALSCRIPTS}:/home/saluser/repos/ts_scriptqueue/tests/data/external/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  watcher-sim:
    build:
      context: ${DOCKERFILE_PATH_SIMULATOR}
      dockerfile: docker/Dockerfile-watcher
      args:
        dev_cycle: "${dev_cycle}"
    container_name: watcher-sim-build
    entrypoint: ["/home/saluser/watcher-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  weatherstation-sim:
    build:
      context: ${DOCKERFILE_PATH_SIMULATOR}
      dockerfile: docker/Dockerfile-weatherstation
      args:
        dev_cycle: "${dev_cycle}"
    container_name: weatherstation-sim-build
    entrypoint: ["/home/saluser/weatherstation-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  # TODO: we should use a public image
  # gencam-sim:
  #   image: ts-dockerhub.lsst.org/genericcamera:c0020.004
  #   container_name: gencam-sim
  #   environment:
  #     - OSPL_URI=${OSPL_URI}
  #     - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
  #     - RUN_ARG=1
  #     - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
  #   network_mode: ${NETWORK_NAME}
  #   # restart: always
  #   volumes:
  #     - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-file: "5"
  #       max-size: "10m"
  #   ports:
  #     - 5013:5013

  jupyter:
    container_name: love-jupyter
    build:
      context: ${DOCKERFILE_PATH_SIMULATOR}
      dockerfile: docker/Dockerfile-jupyter
      args:
        dev_cycle: "${dev_cycle}"
    environment:
      - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
      - JUPYTER_PASS=${JUPYTER_PASS}
    user: root
    network_mode: ${NETWORK_NAME}
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    volumes:
      - ${JUPYTER_PATH}:/home/saluser/notebooks
    ports:
      - 1234:1234

  #----- LOVE COMMANDER ---------
  commander:
    container_name: love-commander-mount
    build:
      context: ${DOCKERFILE_PATH_COMMANDER}
      dockerfile: docker/Dockerfile-dev
      args:
        dev_cycle: "${dev_cycle}"
    image: love-commander-image-mount
    environment:
      - LSST_DDS_PARTITION_PREFIX=${LSST_DDS_PARTITION_PREFIX}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${DOCKERFILE_PATH_COMMANDER}:/usr/src/love
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
  
  #----- LOVE MANAGER --------------

  redis:
    container_name: redis
    image: redis:5.0.3
    command: redis-server --appendonly yes --requirepass ${REDIS_PASS}
    network_mode: ${NETWORK_NAME}
    ports:
      - "6379:6379"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  database:
    container_name: love-database
    image: postgres:12.0
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./db_data:/var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  manager:
    container_name: love-manager-mount
    build:
      context: ${DOCKERFILE_PATH_MANAGER}
      dockerfile: docker/Dockerfile-dev
    image: love-manager-image-mount
    depends_on:
      - redis
      - database
      - commander
    environment:
      - SERVER_URL=${SERVER_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PASS=${REDIS_PASS}
      - AUTH_LDAP_SERVER_URI=${LOVE_MANAGER_LDAP_SERVER_URI}
      - PROCESS_CONNECTION_PASS=${PROCESS_CONNECTION_PASS}
      - SECRET_KEY=${MANAGER_SECRET_KEY}
      - ADMIN_USER_PASS=${ADMIN_USER_PASS}
      - USER_USER_PASS=${USER_USER_PASS}
      - CMD_USER_PASS=${CMD_USER_PASS}
      - AUTHLIST_USER_PASS=${AUTHLIST_USER_PASS}
      - DB_ENGINE=${DB_ENGINE}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - COMMANDER_HOSTNAME=love-commander-mount
      - COMMANDER_PORT=5000
    network_mode: ${NETWORK_NAME}
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - ${DOCKERFILE_PATH_MANAGER}:/usr/src/love
      - ./config:/usr/src/love/manager/config
      - ./media:/usr/src/love/manager/media
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  #----- LOVE FRONTEND --------------
  frontend:
    container_name: love-frontend-mount
    build:
      context: ${DOCKERFILE_PATH_FRONTEND}
      dockerfile: docker/Dockerfile-dev
    image: love-frontend-image-mount
    network_mode: ${NETWORK_NAME}
    ports:
      - "3000:3000"
    volumes:
      - ${DOCKERFILE_PATH_FRONTEND}:/usr/src/love
      - /usr/src/love/love/node_modules
    environment:
      CI: "true"
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  styleguide:
    container_name: love-styleguide-mount
    build:
      context: ${DOCKERFILE_PATH_FRONTEND}
      dockerfile: docker/Dockerfile-dev
    image: love-frontend-image-mount
    command: yarn guide:start --disable-host-check
    network_mode: ${NETWORK_NAME}
    ports:
      - "3001:3001"
    volumes:
      - ${DOCKERFILE_PATH_FRONTEND}:/usr/src/love
      - /usr/src/love/love/node_modules
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  nginx:
    container_name: love-nginx-mount
    image: nginx:1.13.1
    depends_on:
      - frontend
      - manager
      # - styleguide
      # - gencam-sim
    network_mode: ${NETWORK_NAME}
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
      - ./media:/usr/src/love-manager/media
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
