version: "3.7"

services:
  #----- simulators -------
  # testcsc-sim:
  #   image: lsstts/love-testcsc-sim:develop
  #   container_name: testcsc-sim-build
  #   environment:
  #     - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
  #   network_mode: ${NETWORK_NAME}
  #   restart: always
  #   volumes:
  #     - ./config:/home/saluser/config/
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-file: "5"
  #       max-size: "10m"

  atdome-sim:
    image: lsstts/love-atdome-sim:develop
    container_name: atdome-sim
    entrypoint: ["/home/saluser/atdome-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  atmcs-sim:
    image: lsstts/love-atmcs-sim:develop
    container_name: atmcs-sim
    entrypoint: ["/home/saluser/atmcs-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  watcher-sim:
    image: lsstts/love-watcher-sim:develop
    container_name: watcher-sim
    entrypoint: ["/home/saluser/watcher-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  weatherstation-sim:
    image: lsstts/love-weatherstation-sim:develop
    container_name: weatherstation-sim
    entrypoint: ["/home/saluser/weatherstation-setup.sh"]
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./config:/home/saluser/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  scriptqueue-sim:
    image: lsstts/love-scriptqueue-sim:develop
    container_name: scriptqueue-sim
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./config:/home/saluser/config/
      - ${TS_STANDARDSCRIPTS}:/home/saluser/repos/ts_scriptqueue/tests/data/standard/
      - ./scripts:/home/saluser/repos/ts_scriptqueue/tests/data/external/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  gencam-sim:
    image: lsstts/gencam:latest
    container_name: gencam-sim
    environment:
      - OSPL_URI=${OSPL_URI}
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
    network_mode: ${NETWORK_NAME}
    # restart: always
    volumes:
      - ${OSPL_CONFIG_PATH}:${OSPL_MOUNT_POINT}
      - ./simulatorcamera.py:/home/saluser/repos/ts_GenericCamera/python/lsst/ts/GenericCamera/driver/simulatorcamera.py
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    ports:
      - 5013:5013

  # simulator:
  #   container_name: love-simulator
  #   image: lsstts/love-simulator:develop
  #   depends_on:
  #     - scriptqueue-sim
  #     - atdome-sim
  #     - gencam-sim
  #     - atmcs-sim
  #     - weatherstation-sim
  #     - watcher-sim
  #   environment:
  #     - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
  #   network_mode: ${NETWORK_NAME}
  #   restart: always
  #   volumes:
  #     - ./config:/usr/src/love/config/
  #   logging:
  #     driver: "json-file"
  #     options:
  #       max-file: "5"
  #       max-size: "10m"

  jupyter:
    container_name: love-jupyter
    image: lsstts/love-jupyter:develop
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
      - JUPYTER_PASS=${JUPYTER_PASS}
    network_mode: ${NETWORK_NAME}
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    volumes:
      - ${JUPYTER_PATH}:/home/saluser/notebooks
    ports:
      - 1234:1234

  #----- LOVE PRODUCER --------------

  love:
    image: lsstts/love-csc:develop
    container_name: love_csc
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
      - WEBSOCKET_HOST=${LOVE_PRODUCER_WEBSOCKET_HOST}
      - PROCESS_CONNECTION_PASS=${PROCESS_CONNECTION_PASS}
    network_mode: ${NETWORK_NAME}
    depends_on:
      - nginx

  events:
    container_name: love-events-producer
    image: lsstts/love-producer:develop
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
      - WEBSOCKET_HOST=${LOVE_PRODUCER_WEBSOCKET_HOST}
      - PROCESS_CONNECTION_PASS=${PROCESS_CONNECTION_PASS}
      - LOVE_PRODUCERS=EVENTS
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./config:/usr/src/love/producer/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    depends_on:
      - nginx

  telemetries:
    container_name: love-telemetries-producer
    image: lsstts/love-producer:develop
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
      - WEBSOCKET_HOST=${LOVE_PRODUCER_WEBSOCKET_HOST}
      - PROCESS_CONNECTION_PASS=${PROCESS_CONNECTION_PASS}
      - LOVE_PRODUCERS=TELEMETRIES
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./config:/usr/src/love/producer/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    depends_on:
      - nginx

  scriptqueue:
    container_name: love-scriptqueue-producer
    image: lsstts/love-producer:develop
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
      - WEBSOCKET_HOST=${LOVE_PRODUCER_WEBSOCKET_HOST}
      - PROCESS_CONNECTION_PASS=${PROCESS_CONNECTION_PASS}
      - LOVE_PRODUCERS=SCRIPTQUEUE
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./config:/usr/src/love/producer/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    depends_on:
      - nginx

  heartbeats:
    container_name: love-heartbeats
    image: lsstts/love-producer:develop
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
      - WEBSOCKET_HOST=${LOVE_PRODUCER_WEBSOCKET_HOST}
      - PROCESS_CONNECTION_PASS=${PROCESS_CONNECTION_PASS}
      - LOVE_PRODUCERS=CSC_HEARTBEATS
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./config:/usr/src/love/producer/config/
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"
    depends_on:
      - nginx

    #-----LOVE COMMANDER -----------
  commander:
    container_name: love-commander
    image: lsstts/love-commander:develop
    environment:
      - LSST_DDS_DOMAIN=${LSST_DDS_DOMAIN}
    network_mode: ${NETWORK_NAME}
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  #----- LOVE MANAGER --------------
  redis:
    container_name: redis
    image: redis:5.0.3
    command: redis-server --appendonly yes --requirepass ${REDIS_PASS}
    network_mode: ${NETWORK_NAME}
    ports:
      - "6379:6379"
    restart: always
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  database:
    container_name: love-database
    image: postgres:12.0
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
    network_mode: ${NETWORK_NAME}
    restart: always
    volumes:
      - ./db_data:/var/lib/postgresql/data
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  manager:
    container_name: love-manager
    image: lsstts/love-manager:develop
    depends_on:
      - redis
      - database
    environment:
      - SERVER_URL=${SERVER_URL}
      - REDIS_HOST=${REDIS_HOST}
      - REDIS_PASS=${REDIS_PASS}
      - AUTH_LDAP_SERVER_URI=${LOVE_MANAGER_LDAP_SERVER_URI}
      - PROCESS_CONNECTION_PASS=${PROCESS_CONNECTION_PASS}
      - SECRET_KEY=${MANAGER_SECRET_KEY}
      - ADMIN_USER_PASS=${ADMIN_USER_PASS}
      - USER_USER_PASS=${USER_USER_PASS}
      - CMD_USER_PASS=${CMD_USER_PASS}
      - DB_ENGINE=${DB_ENGINE}
      - DB_NAME=${DB_NAME}
      - DB_USER=${DB_USER}
      - DB_PASS=${DB_PASS}
      - DB_HOST=${DB_HOST}
      - DB_PORT=${DB_PORT}
      - COMMANDER_HOSTNAME=love-commander
      - COMMANDER_PORT=5000
    network_mode: ${NETWORK_NAME}
    ports:
      - "8000:8000"
    restart: always
    volumes:
      - manager-static:/usr/src/love/manager/static
      - ./config:/usr/src/love/manager/config
      - ./media:/usr/src/love/manager/media
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  #----- LOVE FRONTEND --------------
  frontend:
    container_name: love-frontend
    image: lsstts/love-frontend:develop
    depends_on:
      - manager
    network_mode: ${NETWORK_NAME}
    volumes:
      - frontend-volume:/usr/src/love
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

  nginx:
    container_name: love-nginx
    image: nginx:1.13.1
    depends_on:
      - frontend
    network_mode: ${NETWORK_NAME}
    ports:
      - "80:80"
    restart: always
    volumes:
      - ./nginx-develop.conf:/etc/nginx/conf.d/default.conf
      - frontend-volume:/usr/src/love-frontend
      - manager-static:/usr/src/love-manager/static
      - ./media:/usr/src/love-manager/media
    logging:
      driver: "json-file"
      options:
        max-file: "5"
        max-size: "10m"

volumes:
  frontend-volume:
  manager-static:
